.rth{
	border:solid black 1px;
	background-color:#FEFEE2;
	border-radius:10px;
}
#left{
	float:left;
	width:25%;
	height:840px;
	background-color:#A4B2FF;
}
#right{
	float:right;
	width:75%;
}
h1{
	text-align:center;
}
.rang{
	width:200px;
	height:20px;
}
.btn{
	background-color:#FFBE00;
	border-radius:10px;
}